/**
 * @name Anime
 * @author RaM7EsS
 * @version 1.0
 * @description Thank you for choosing my theme!
 * @source https://t.me/Ramzess7777
 * @website https://t.me/Ramzess7777
 * @patreon https://t.me/Ramzess7777
 * @authorLink https://t.me/Ramzess7777
 * @donate https://t.me/Ramzess7777
 * @authorId 247106140599484416
 * @invite teqs7r88

░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────────────────────────▐█─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▄──────────────────▄█▓█▌────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▐██▄───────────────▄▓░░▓▓────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▐█░██▓────────────▓▓░░░▓▌────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▐█▌░▓██──────────█▓░░░░▓─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▓█▌░░▓█▄███████▄███▓░▓█─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▓██▌░▓██░░░░░░░░░░▓█░▓▌─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▓█████░░░░░░░░░░░░▓██──────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▓██▓░░░░░░░░░░░░░░░▓█──────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▐█▓░░░░░░█▓░░▓█░░░░▓█▌─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▓█▌░▓█▓▓██▓░█▓▓▓▓▓░▓█▌─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▓▓░▓██████▓░▓███▓▓▌░█▓─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▐▓▓░█▄▐▓▌█▓░░▓█▐▓▌▄▓░██─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▓█▓░▓█▄▄▄█▓░░▓█▄▄▄█▓░██▌────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▓█▌░▓█████▓░░░▓███▓▀░▓█▓────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▐▓█░░░▀▓██▀░░░░░─▀▓▀░░▓█▓────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▓██░░░░░░░░▀▄▄▄▄▀░░░░░░▓▓────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▓█▌░░░░░░░░░░▐▌░░░░░░░░▓▓▌───▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▓█░░░░░░░░░▄▀▀▀▀▄░░░░░░░█▓───▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──▐█▌░░░░░░░░▀░░░░░░▀░░░░░░█▓▌──▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──▓█░░░░░░░░░░░░░░░░░░░░░░░██▓──▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──▓█░░░░░░░░░░░░░░░░░░░░░░░▓█▓──▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──██░░░░░░░░░░░░░░░░░░░░░░░░█▓──▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──█▌░░░░░░░░░░░░░░░░░░░░░░░░▐▓▌─▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─▐▓░░░░░░░░░░░░░░░░░░░░░░░░░░█▓─▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─█▓░░░░░░░░░░░░░░░░░░░░░░░░░░▓▓─▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─█▓░░░░░░░░░░░░░░░░░░░░░░░░░░▓▓▌▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌▐█▓░░░░░░░░░░░░░░░░░░░░░░░░░░░██▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌█▓▌░░░░░░░░░░░░░░░░░░░░░░░░░░░▓█▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░██████████████████████████████████░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░██████╗░░█████╗░███╗░░░███╗███████╗███████╗░██████╗░██████╗░░░░░░░
░░░░░░░░██╔══██╗██╔══██╗████╗░████║╚════██║██╔════╝██╔════╝██╔════╝░░░░░░░
░░░░░░░░██████╔╝███████║██╔████╔██║░░░░██╔╝█████╗░░╚█████╗░╚█████╗░░░░░░░░
░░░░░░░░██╔══██╗██╔══██║██║╚██╔╝██║░░░██╔╝░██╔══╝░░░╚═══██╗░╚═══██╗░░░░░░░
░░░░░░░░██║░░██║██║░░██║██║░╚═╝░██║░░██╔╝░░███████╗██████╔╝██████╔╝░░░░░░░
░░░░░░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░░░░╚═╝░░╚═╝░░░╚══════╝╚═════╝░╚═════╝░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

*/



@import url(https://raw.githack.com/RaM7EsS/DiscordThemes/main/Anime/AnimeRAM7ESSstyle.css);


.titleBar-AC4pGV > .winButtonMinMax-PBQ2gm {
    background: #a3be8c !important;
    border-radius: 5px !important;
    width: 10px !important;
    height: 10px !important;
    margin: 5px 15px 5px 15px !important;
    transition: background-color 250ms ease-in;
}

.winButtonClose-1HsbF- {
    background: #bf616a !important;
    border-radius: 5px !important;
    width: 10px !important;
    height: 10px !important;
    margin: 5px 15px 5px 15px !important;
    transition: background-color 250ms ease-in;
}

:root {
    --background-image: url(https://i.imgur.com/GhksrFI.jpg);
    --friends-icon: url(https://media.discordapp.net/attachments/637248963644227585/697894833351688202/sushkami7.png?width=402&height=499);
    --friends-icon-position: center center;
    --friends-icon-zoom: 100%;
    --main-color: rgb(67, 181, 129); 
    --main-transparency: rgba(0, 0, 0, 0.76);
    --unread-server-animation: rainbow;
    --hover-list-bg-color: rgba(255,255,255, .15);
    --border-lines-color: hsla(0,0%,100%,.1);
    --scroll-bar-color: rgba(255,255,255, .15);
    --font-size: 16px;
    --selected-text-voice-color: #f6f6f7;
    --text-hover-color: #b9bbbe;
    --voice-hover-color: #f6f6f7;
    --unread-text-color: #dcddde;
    --options-transparency: transparent;
    
    