/**
 * @name Neutron
 * @author RaM7EsS
 * @version 1.2
 * @description Thank you for choosing my theme!
 * @source https://t.me/Ramzess7777
 * @website https://t.me/Ramzess7777
 * @patreon https://t.me/Ramzess7777
 * @authorLink https://t.me/Ramzess7777
 * @donate https://t.me/Ramzess7777
 * @authorId 247106140599484416
 * @invite teqs7r88

 
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────────────────────────▐█─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▄──────────────────▄█▓█▌────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▐██▄───────────────▄▓░░▓▓────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▐█░██▓────────────▓▓░░░▓▌────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▐█▌░▓██──────────█▓░░░░▓─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▓█▌░░▓█▄███████▄███▓░▓█─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▓██▌░▓██░░░░░░░░░░▓█░▓▌─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▓█████░░░░░░░░░░░░▓██──────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▓██▓░░░░░░░░░░░░░░░▓█──────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▐█▓░░░░░░█▓░░▓█░░░░▓█▌─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▓█▌░▓█▓▓██▓░█▓▓▓▓▓░▓█▌─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─────▓▓░▓██████▓░▓███▓▓▌░█▓─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▐▓▓░█▄▐▓▌█▓░░▓█▐▓▌▄▓░██─────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▓█▓░▓█▄▄▄█▓░░▓█▄▄▄█▓░██▌────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌────▓█▌░▓█████▓░░░▓███▓▀░▓█▓────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▐▓█░░░▀▓██▀░░░░░─▀▓▀░░▓█▓────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▓██░░░░░░░░▀▄▄▄▄▀░░░░░░▓▓────▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▓█▌░░░░░░░░░░▐▌░░░░░░░░▓▓▌───▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌───▓█░░░░░░░░░▄▀▀▀▀▄░░░░░░░█▓───▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──▐█▌░░░░░░░░▀░░░░░░▀░░░░░░█▓▌──▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──▓█░░░░░░░░░░░░░░░░░░░░░░░██▓──▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──▓█░░░░░░░░░░░░░░░░░░░░░░░▓█▓──▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──██░░░░░░░░░░░░░░░░░░░░░░░░█▓──▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌──█▌░░░░░░░░░░░░░░░░░░░░░░░░▐▓▌─▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─▐▓░░░░░░░░░░░░░░░░░░░░░░░░░░█▓─▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─█▓░░░░░░░░░░░░░░░░░░░░░░░░░░▓▓─▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌─█▓░░░░░░░░░░░░░░░░░░░░░░░░░░▓▓▌▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌▐█▓░░░░░░░░░░░░░░░░░░░░░░░░░░░██▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▌█▓▌░░░░░░░░░░░░░░░░░░░░░░░░░░░▓█▐░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░██████████████████████████████████░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░██████╗░░█████╗░███╗░░░███╗███████╗███████╗░██████╗░██████╗░░░░░░░
░░░░░░░░██╔══██╗██╔══██╗████╗░████║╚════██║██╔════╝██╔════╝██╔════╝░░░░░░░
░░░░░░░░██████╔╝███████║██╔████╔██║░░░░██╔╝█████╗░░╚█████╗░╚█████╗░░░░░░░░
░░░░░░░░██╔══██╗██╔══██║██║╚██╔╝██║░░░██╔╝░██╔══╝░░░╚═══██╗░╚═══██╗░░░░░░░
░░░░░░░░██║░░██║██║░░██║██║░╚═╝░██║░░██╔╝░░███████╗██████╔╝██████╔╝░░░░░░░
░░░░░░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░░░░╚═╝░░╚═╝░░░╚══════╝╚═════╝░╚═════╝░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░


*/




@import url(https://raw.githack.com/RaM7EsS/DiscordThemes/main/Neutron8/NeutronRAM7ESSstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



:root {
  /* Цвета темы */
  --themeColor1: #36D1DC; /* Цвет 1 */
  --themeColor2: #5B86E5; /* Цвет 2 */

  /* Шрифт */
  --customFont: 'Open sans', sans-serif; /* Кастомный мейн шрифт */

  /* Кнопка хоум */
  --loftBar: #0d0d0d; /* Цвет левой панели */
  --homeImage: url('https://i.imgur.com/2sS8g0t.png');/* Кнопка хоум */
  --homeImageSize: cover; /* Размер кнопки хоум. cover = "100% 100%" */
  --homePosition: center center; /* Позиция кнопки хоум */

  /* Бекграунд */
  --backgroundColor: #0d0d0d; /* Background color */
  --backgroundImage: url(https://i.imgur.com/q1NaM3A.jpg); /* Backround image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --backgroundPosition: center; /* Image position | center, left, right, bottom, top */
  --backgroundSize: cover; /* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
  --backgroundRepeat: no-repeat; /* if you want the image to repeat | Google "css background repeat" */
  --backgroundBlur: 0px; /* Set to 0 to remove blur | Set to 10px for average blur */
  --backgroundOpacity: .65; /* 0 is transparent */


  /* CODE BLOCKS */
  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);
}